Source/TankLevelMonitor/bin/
Source/TankLevelMonitor/obj/
Source/.vs/
Source/TankLevelMonitor_Demo/bin/
Source/TankLevelMonitor_Demo/obj/
Source/TankLevelMonitor_UI/bin/
Source/TankLevelMonitor_UI/obj/
Source/TankLevelMonitor_Azure/bin/
Source/TankLevelMonitor_Azure/obj/
Source/CompanionApp/bin/
Source/CompanionApp/obj/
