<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://meadow-tank-level-azure-function.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/644c6417-f5e3-4b99-b1aa-a6008128c5e6/resourcegroups/meadow-resource-group/providers/Microsoft.Web/sites/meadow-tank-level-azure-function</ResourceId>
    <UserName>$meadow-tank-level-azure-function</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://meadow-tank-level-azure-function.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>